{% block content %}
<div class="panel panel-default cat-item-panel">
    <div class="panel-heading cat-item-list-heading">
        Latest Items
        {% if current_user.is_authenticated %}
            <br>
            <span><a class="add-edit-del-link" href="{{ url_for('addItem')}}">(Add Item)</a></span>
        {% endif %}
    </div>
    <div class="panel-body cat-item-list-body">
        {% if items %}
            <ul>
                {% for item in items%}
                <li>
                    <a href=" {{ url_for('showItem', category=item.category.name, item_name=item.title)}}">
                    {{item.title}} ({{item.category.name}})
                    </a>
                </li>
                {% endfor%}
            </ul>
            {% else %}
                <h5>No items to show</h5>
        {% endif %}
    </div>
</div>
{% endblock %}